/*==============================================*/
/*			Author: Berend de Groot				*/
/*			Versie: 1.0							*/
/*==============================================*/


/*==============================================*/
/*============== Page Layout ===================*/
body {
	background-image: url('../pics/bg.jpg');
}
#ntour {
	float: right;
	font-family: Arial;
	font-size: 14px;
	color: grey;
	margin-right: 270px;
}
#header {
	height: 287px;
	width: 1057px;
	margin-right: 1px;
	
	border-color: black;
	border-style: solid;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../pics/header2new2.png');
	display: none;
}
#tabs {
	height: 40px;
	width: 1057px;
	margin-left: -1px;
	display: none;
	margin-top: 248px;
}
#ppage {
	height: 600px;
	width: 1057px;
	background: #282828 url(../pics/pbg.png) center no-repeat;
	
	border-style: solid;
	border-color: #303030;
	text-align: left;
	display: none;
}
#productt { 
	height: 600px;
	width: 1057px;
	background: #282828 url(../pics/pbg.png) center no-repeat;
	
	border-style: solid;
	border-color: #303030;
	text-align: left;
	display: none;
}
#footer {
	width: 1057px;
	background-color: black;
	border-color: #303030;
	border-style: solid;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 12px;
	color: white;
	color: #FFD700;
	font-family: Arial;
	font-size: 12px;
	border-top: 0px;
	display: none;
}
p{
	padding: 20px;
	font-family: Arial;
	font-size: 12px;
	color: white;
}
table, tr, td, li {
	font-family: Arial;
	font-size: 12px;
	color: white;
	padding-left: 20px;
	padding-top: 5px;
}
	
/*----------------------------------------------*/


/*==============================================*/
/*=============== Tabs Styles ==================*/
#home {
	width: 140px;
	margin-left: -2px;
}
#p1 {
	width: 150px;
}
#p2 {
	width: 150px;
}
#verkrijg {
	width: 170px;	
}
#meer {
	width: 170px;
}
#belofte {
	width: 130px;
}
#contact {
	width: 140px;
	float: right;
	margin-right: -4px;
}
.tabs {
	padding-top: 8px;
	height: 31px;
	background-repeat: no-repeat;
	float: left;
	cursor: pointer;
	
	color: #FFD700;
	font-family: Arial;
	font-size: 13pt;
	margin-bottom: -3px;
}
/*----------------------------------------------*/

/*==============================================*/
/*============ Tabs Click Styles ===============*/
.hclick {
	background-color: #282828 ;
	border-bottom: 0px;
	border-color: #303030;
	border-style: solid;

}
.pclick {
	background-color: #282828 ;
	border-bottom: 0px;
	border-color: #303030;
	border-style: solid;
}
.vclick {
	background-color: #282828 ;
	border-bottom: 0px;
	border-color: #303030;
	border-style: solid;
}
.mclick {
	background-color: #282828 ;
	border-bottom: 0px;
	border-color: #303030;
	border-style: solid;
}
.bclick {
	background-color: #282828 ;
	border-bottom: 0px;
	border-color: #303030;
	border-style: solid;
}
.cclick {
	background-color: #282828;
	border-bottom: 0px;
	border-color: #303030;
	border-style: solid;
}
.p1click {
	background-color: #282828;
	border-bottom: 0px;
	border-color: #303030;
	border-style: solid;
}
.p2click {
	background-color: #282828;
	border-bottom: 0px;
	border-color: #303030;
	border-style: solid;
}
/*----------------------------------------------*/

/*==============================================*/
/*========== Tabs Mouse Over Styles ============*/
.mouse {
	color: white;
}
/*----------------------------------------------*/
a:link {
	text-decoration: none;
	color: gold;
}
a:hover {
	text-decoration: none;
	color: gold;
}
a:visited {
	text-decoration: none;
	color: gold;
}
#lefttext {
	float: left;
	width: 690px;
}
#rightphoto {	
	margin-left: 10px;
	margin-top: 50px;
}
td {
	text-align: center;
}