/*==============================================*/
/*			Author: Berend de Groot				*/
/*			Versie: 1.0							*/
/*==============================================*/


/*==============================================*/
/*============== Start Layout ==================*/
body {
	background-image: url('../pics/bg.jpg');
}
#container {
	height: 500px;
	width: 800px;
	margin-top: 100px;
	display: none;
}
#head {
	height: 100px;
	width: 800px;
	background-image: url('../pics/start.png');
	margin-top: 100px;
}
#home {
	float: left;
	width: 400px;
	height: 400px;
	background-image: url('../pics/website.png');
	background-position: center;
	background-repeat: no-repeat;
}
#tour {
	float: right;
	width: 400px;
	height: 400px;
	background-image: url('../pics/tour.png');
	background-position: center;
	background-repeat: no-repeat;
}
#footer {
	width: 800px;
	height: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arial;
	font-size: 12px;
	color: #FFD700;
	font-family: Arial;
	font-size: 12px;
	display: none;
}
#mouse {
	background-color: red;
}
	