<p>Zeggen wat je doet en doen wat je zegt is de werkwijze van Flevoland Flowers. Om het niet alleen bij mooie woorden te houden heeft Flevoland Flowers een extern onafhankelijk controlebureau, DFS, ingehuurd in de persoon van Rob Meijdam. Rob heeft voorheen voor dutch united gewerkt. DFS neemt regelmatig een monster uit de aanvoer Grand Prix rozen en controleert dan de uiterlijke kwaliteit. De controleurs beoordelen o.a.:
</p>
<ul>
    <li>het snijstadium</li>
    <li>de hoogte en strakheid van het folie</li>
    <li>beschadigingen</li>
    <li>of er gelijk gebost is</li>
    <li>de algemene presentatie</li>
</ul>
