<p>Contact</br>
</br>
Onze adres gegevens zijn:</br><br>
Flevoland Flowers</br>
Weteringweg 11</br>
8315 RL Luttelgeest</br>
Tel.  0527 - 68 10 44 </br>
Fax: 0527 - 68 58 14</br>
<a href='mailto:info@flevolandflowers.nl'>Info@flevolandflowers.nl</a></br>
</br>
Heeft u een vraag, mail hem ons. Ook voor het aanvragen van het dagelijkse aanvoer overzicht kunt u ons mailen.</br>