<p>U wilt uw klanten een perfecte bos mooie rode rozen bieden, een rode roos die gezien mag worden, en daarbij ook maximale service bieden? Daarvoor heeft u een goede leverancier nodig. FlevolandFlowers doet 365 dagen per jaar haar uiterste best om uw klantenwens inhoud te geven. Wij willen uw leverancier zijn en naar onze mening hebben we daarvoor een aantal prima argumenten, namelijk:
<table border='0'>
    <tr><td width='30'>A.</td><td>wij hebben een ras dat zich kenmerkt door zijn uitstraling en exclusiviteit. Het ras Grand Prix heeft verder een intens donkerrode kleur en een subtiele geur</td></tr>
    <tr><td width='30'>B.</td><td>onze rozen hebben het perfecte rijpheidstadium, iets rauw, maar zijn daardoor aanzienlijk langer houdbaar</td></tr>
    <tr><td width='30'>C.</td><td>het vaasleven is zonder meer uitstekend te noemen, wat mede komt door het hygiene protocol op ons bedrijf en natuurlijk het gebruik van houdbaarheidsmiddelen</td></tr>
    <tr><td width='30'>D.</td><td>we leggen de lat voor ons zelf erg hoog, wat tot uiting komt in ons sorteerbeleid. Dit resulteert erin dat ons A1 product echt uniform is en van een meer dan perfecte kwaliteit. In de tabel staat een verdere uitwerking van wat wij onder kwaliteit verstaan</td></tr>
    <tr><td width='30'>E.</td><td>de kwaliteitscontrole wordt gedaan door een extern bureau, DFS. Zij beoordelen regelmatig de kwaliteit en het vaasleven. Wij zijn trots op de resultaten en die tonen we u graag op onze website (zie ook bij onze belofte)</td></tr>
    <tr><td width='30'>F.</td><td>door de moderne kassen met optimale voorzieningen (zoals intensieve belichting) hebben we jaarrond een redelijk constant aanbod. Dit, in combinatie met de bedrijfsgrootte (40.000 m2), heeft tot gevolg dat we zowel kleine als grote partijen kunnen leveren. We zijn een van de grotere Grand Prix leveranciers van ons land</td></tr>
    <tr><td width='30'>G.</td><td>onze werkwijze is erop gericht dat we een betrouwbare klokleverancier zijn. Ons product is dagelijks te vinden in Naaldwijk en 4 keer per week zijn onze kwaliteitsrozen voor de klok in Eelde te koop. Daarnaast zijn er volop mogelijkheden voor directe levering.</td></tr>
</table>
<p>Een verdere uitwerking van de kwaliteit:</p>
<table border='0'>
<tr><td>Lengte</td><td>Hoogte Knop</td><td>Gewicht per bloem</td></tr>
<tr><td>90 centimeter</td><td>Tussen de 52 en 56 mm</td><td>Tussen de 63 en 67 gram</td></tr>
<tr><td>80 centimeter</td><td>Tussen de 48 en 51 mm</td><td>Tussen de 54 en 58 gram</td></tr>
<tr><td>70 centimeter</td><td>Tussen de 45 en 48 mm</td><td>Tussen de 42 en 44 gram</td></tr>
<tr><td>60 centimeter</td><td>Tussen de 42 en 45 mm</td><td>Tussen de 32 en 36 gram</td></tr>
<tr><td>50 centimeter</td><td>Tussen de 39 en 42 mm</td><td>Tussen de 26 en 30 gram</td></tr>
</table>