<p>Op deze website vindt u alle voor u relevante informatie over Flevoland Flowers.<br>Kort samengevat komt het erop neer dat we er ons dagelijks voor inzetten om de betere rode roos te leveren. Op dit moment kweken we twee prachtige cultivars, Red Naomi en Grand Prix.</p>

<p>U wilt uw klanten een perfecte bos mooie rode rozen bieden, een rode roos die gezien mag worden, een roos waar uw lang plezier van heeft en daarbij ook maximale service bieden?<br> Daarvoor heeft u een goede leverancier nodig. Flevoland Flowers doet 365 dagen per jaar haar uiterste best om uw klantenwens inhoud te geven.<br><br>
Wij willen uw leverancier zijn!</p>
<p>Naar onze mening hebben we daarvoor een aantal prima argumenten, namelijk:</p>
<ul>
<li> wij hebben twee rassen die zich kenmerken door zijn uitstraling en exclusiviteit.</li>
<li>onze rozen hebben het perfecte rijpheidstadium, rauwer dan gemiddeld, maar daardoor kan er in de keten goed mee gewerkt worden en zijn de rozen aanzienlijk langer houdbaar</li>
<li>het vaasleven is zonder meer uitstekend te noemen, wat mede komt door het hygiene protocol op ons bedrijf en natuurlijk het gebruik van houdbaarheidsmiddelen</li>
<li>we leggen de lat voor ons zelf erg hoog, wat tot uiting komt in ons sorteerbeleid. Dit resulteert erin dat ons A1 product echt uniform is en van een meer dan perfecte kwaliteit. In de tabellen op de Red Naomi en Grand Prix pagina staat een verdere uitwerking van wat wij onder kwaliteit verstaan</li>
<li>de kwaliteitscontrole wordt gedaan door een extern bureau, Dutch Flower Support. Zij beoordelen op wekelijkse basis de kwaliteit en het vaasleven. </li>
<li>door de moderne kassen met optimale voorzieningen (zoals intensieve belichting) hebben we jaarrond een redelijk constant aanbod. Dit, in combinatie met de bedrijfsgrootte (40.000 m2), heeft tot gevolg dat we zowel kleine als grote partijen kunnen leveren.</li>
<li>onze werkwijze is erop gericht dat we een betrouwbare klokleverancier zijn. Ons product is dagelijks te vinden in Naaldwijk, Rijnsburg en 4 keer per week zijn onze kwaliteitsrozen voor de klok in Eelde te koop. Daarnaast zijn er volop mogelijkheden voor directe levering.</li>
<li>doormiddel van de meest geavanceerde en hypermoderne sorteermachine is het mogelijk om een speciaal op maat gemaakt product te leveren voor u en uw klant.</li>
</ul>
<p>Flevoland Flowers is in staat om jaarrond voldoende grote partijen te leveren, wat komt door de bedrijfsomvang en jarenlange ervaring in de rozenteelt.<br>
Meer informatie treft u op deze website aan, maar u kunt ons natuurlijk altijd bellen: tel. 0527 &ndash; 68 10 44.</p>

