<p>Sinds 12 jaar teelt Flevoland Flowers Grand Prix rozen (donkerrode roos). Wij zijn dan ook een van de meest ervaren Grand Prix telers.<br><br>
Door onze bedrijfsgrootte van ca. 40.000 m2, behoren we tot de grootste Grand Prix teler. Dankzij deze bedrijfsgrootte kunnen we bepaalde investeringen doen die bijdragen aan het leveren van een kwaliteitsproduct.<br><br>
Flevoland Flowers kenmerkt zich door een innovatieve onderneming. Steeds zijn we op zoek naar verbeteringen en innovaties. Te noemen zijn o.a. ons hygiene protocol dat gericht is op een maximale houdbaarheid.<br><br>
Kwaliteit zit ons echt in de genen. Alles wordt eraan gedaan om een echt goede- en uniforme kwaliteit te leveren door  o.a. iedere dag 2 keer de rozen te oogsten gedurende 7 dagen in de week. Direct na het oogsten gaan de rozen op het water en worden in de koelcel geplaatst.<br><br>
Onze sorteermachine zorgt voor een juiste sortering, waarna de Grand Prix door de verpakkingsmachine in folie verpakt wordt. Hierna gaan de producten weer snel naar de koelcel, want we doen er alles aan om rozen te leveren met een echt lang vaasleven.<br><br>
</p>