<p>Ons product wordt standaard geleverd in bossen van 20 stuks. Iedere bos is voorzien van de enige echte Flevoland Flowers hoes. Dankzij deze hoes blijven de rozen goed beschermd en komt hun sierwaarde perfect tot zijn recht.<br><br>
We werken met twee kwaliteiten: A1, en B1. De A1 rozen worden vanaf begin 2011 geleverd in de geheel vernieuwde kwaliteitshoes.<br><br>
Ongeveer 25 % van onze aanvoer zijn Grand Prix rozen met een lengte van 50 centimeter. Ruim 30 % heeft een lengte van 60 centimeter en 30% heeft een lengte van 70 centimeter. Het aanbod van de 80 centimeter roos is ongeveer 10 % en de resterende 5 % zijn rozen met een lengte van 90 centimeter. Dankzij de nieuwe sorteermachine is het nu mogelijk om partijen van verschillende rijpheidsstadia te sorteren en af te leveren.<br><br>
Wilt u per dag geinformeerd worden over ons aanbod dan is dat goed mogelijk. Wij sturen u dan op maandag tot en met donderdag, rond 16.00 uur, een mail met ons aanbod voor de volgende veildag. Voor ons maandag aanbod komt de mail zondag rond 11.00 uur.<br><br>
De bossen staan in het standaard fust. Voor de lengtes van 70 cm. werken wij met een opzetrek,  omdat wij willen dat onze kwaliteitsroos ook als een superproduct bij de eindklant komt.<br><br>
Onze inzet is dat minimaal 70 % van onze rozen wordt aangeboden via de klok. Dagelijks zijn alle lengtes te koop via de klok in Naaldwijk en op maandag, dinsdag, woensdag en vrijdag ook in Eelde.<br><br>
Ons product is in Aalsmeer ook verkrijgbaar via IndiAgro  06 - 51 16 70 61 .<br><br>
Natuurlijk is het mogelijk om maatwerk te leveren. Graag maken we afspraken voor de directe levering met uw specifieke wensen.</p>
