/*==============================================*/
/*			Author: Berend de Groot				*/
/*			Versie: 2.0							*/
/*==============================================*/


/*==============================================*/
/*============== Page Layout ===================*/
body {
	background-image: url('../../pics/bg.jpg');
	color: white;
	font-family: Arial;
	font-size: 12px;
}
p {
	padding: 10px;
	font-family: Arial;
	font-size: 12px;
	color: white;
}
h1 {
	color: gold;
}
a:link {
	text-decoration: none;
} 
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: none; 
}
img {
	border: none;
}
/*----------------------------------------------*/
/*==============================================*/
/*============== Tour Layout ===================*/
#knoppen {
	width: 800px;
	margin-top: 10px;
}
#volgende  {
	display: none;
	font-family: Arial;
	font-size: 18px;
	color: #FFD700;
	float: right;
	margin-right: -360px;
}
#vorige  {
	display: none;
	font-family: Arial;
	font-size: 18px;
	color: #FFD700;
	float: left;
	margin-left: 15px;
}
#home  {
	display: none;
	font-family: Arial;
	font-size: 18px;
	color: #FFD700;
	float: left;
	margin-left: 50px;
}
#pagina1  {
	display: none;
	font-family: Arial;
	font-size: 12px;
	color: white;
	float: left;
	margin-left: 150px;
}
#pagina2  {
	display: none;
	font-family: Arial;
	font-size: 12px;
	color: white;
	float: left;
	margin-left: 50px;
}
#pagina3  {
	display: none;
	font-family: Arial;
	font-size: 12px;
	color: white;
	float: left;
	margin-left: 50px;
}
#pagina4  {
	display: none;
	font-family: Arial;
	font-size: 12px;
	color: white;
	float: left;
	margin-left: 50px;
}
#pagina5  {
	display: none;
	font-family: Arial;
	font-size: 12px;
	color: white;
	float: left;
	margin-left: 50px;
}
#volgendehome  {
	display: none;
	font-family: Arial;
	font-size: 18px;
	color: #FFD700;
	float: center;
	margin-top: 50px;
}
#header{
	height: 100px;
	width: 800px;
	margin-right: 280px;
	text-align: center;
}
#right {
	float: right;
}
#left {
	float: left;
}
#foto {
	width: 400px;
}
#label {
	color: gold;
	margin-top: 25px;
}

/*==============================================*/
/*================ Page 1 =====================*/
#page1 {
	height: 800px;
	width: 800px;
	margin-top: 30px;
	display: none;
}
/*--------------------------------------------*/
/*================ Page 2 =====================*/
#page2 {
	height: 800px;
	width: 800px;
	margin-top: 20px;
	display: none;
}
#volgende2  {
	display: none;
	font-family: Arial;
	font-size: 18px;
	color: #FFD700;
	float: right;
}
#vorige2  {
	display: none;
	font-family: Arial;
	font-size: 18px;
	color: #FFD700;
	float: left;
	margin-left: 15px;
}
#label2 {
	color: gold;
	margin-top: 15px;
}
/*----------------------------------------------*/
/*================ Page 3 =====================*/
#page3 {
	height: 800px;
	width: 800px;
	margin-top: 30px;
	display: none;
}
#mensenlong {
	margin-top: 10px;
}
/*--------------------------------------------*/
/*================ Page 4 =====================*/
#page4 {
	height: 800px;
	width: 800px;
	margin-top: 30px;
	display: none;
}
/*--------------------------------------------*/
/*================ Page 5 =====================*/
#page5 {
	height: 900px;
	width: 800px;
	margin-top: 30px;
	display: none;
}
#volgende5  {
	display: none;
	font-family: Arial;
	font-size: 18px;
	color: #FFD700;
	float: right;
	margin-right: -390px;
}
#vorige5  {
	display: none;
	font-family: Arial;
	font-size: 18px;
	color: #FFD700;
	float: left;
}
#knoppen5 {
	width: 800px;
}
/*--------------------------------------------*/